.divider,
.section-title .title-main > span,
.section-title.style-five .divider-two,
.promo-content .btn.btn-default:hover, 
.promo-content .btn.btn-default:focus,
.featured-item .featured-info .featured-info-inner .icon,
.filter-foodmenu-tab .nav-tabs > li > a.active > [class*="icon-"],
.filter-foodmenu-tab.style-five .nav-tabs > li > a.active, 
.filter-foodmenu-tab.style-five .nav-tabs > li > a:hover,
.food-list-item .item-header .item-header-right .food-price,
.food-list-item .food-title a:hover, 
.food-list-item .food-title a:focus,
.food-list-item .food-cart-tools .food-cart:hover, 
.food-list-item .food-cart-tools .food-cart:focus,
.food-list-item.list-style-two .food-cart-tools1 .food-cart, 
.food-list-item.list-style-three .food-cart-tools1 .food-cart,
.food-grid-item.grid-style-three .food-price,
.chef-item .chef-info .chef-name a:hover, 
.chef-item .chef-info .chef-name a:focus,
.btn-default.btn-white:focus, 
.btn-default.btn-white:hover,
.post .entry-meta-content > div a,
.post .entry-title a:hover, 
.post .entry-title a:focus,
.site-footer .widget .widget-title > span,
.copyright-text a,
.datepicker-container .datepicker-panel > ul > li.picked,
.header-card-area > a,
.header-card-area .cart-list .order-total > .order .amount,
.header-card-area .cart-list .cart-item .product-info .icon-closed:hover > a,
.food-grid-item .food-title a:hover, 
.food-grid-item .food-title a:focus,
.food-menu-block.style-seven .food-item .food-price,
.promo-content .video-btn-area > .text,
.video-btn:hover, 
.video-btn:focus,
.chef-reviews-block .reviews-content-area .reviews-content .chef-info > a,
.chef-reviews-block .reviews-content-area .owl-nav > div:hover,
.tb-subscribe-widget .subscribe-form #mc-form #subscribe-btn:hover,
.tb-subscribe-widget .subscribe-form p > span,
.widget_links a:hover, 
.widget_links a:focus,
.promo-content .promo-title > span,
.food-menu-block.style-nine .food-cat-title-area .food-cat-title > span,
.featured-item.featured-style-two .featured-info .featured-title > span,
.featured-item.featured-style-three .featured-info .featured-title > span,
.bt-location-widget .widget-content ul > li a:hover,
.intro-element .intro-socail-text > a:hover,
.main-slider .single-slide .slide-icon,
.site-header.header-style-five .header-right-area > div > a:hover, 
.site-header.header-style-five .header-right-area > div > a:focus,
.sidebar-menu-area .socail-share > a:hover,
.gallery-item .popup-link,
.tb-subscribe-widget.style-two .subscribe-form #mc-form #subscribe-btn,
.frontpage-banner-section.frontpage-banner-style-four .frontpage-banner-content .banner-title,
.about-us-block.style-three .section-title .title-main,
.promo-block.style-two .promo-content .promo-title,
.single-choose-item .icon,
.site-footer .footer-menu > li > a:hover, 
.site-footer .footer-menu > li > a:focus,
.site-footer.footer-style-two .view-all-btn > a > [class*="fa-"],
.site-footer.footer-style-two .view-all-btn > a:hover,
.open-hours-item .icon > span,
.testimonial-item .client-info .client-name,
.contact-info-area .info-address > span,
.delivery-order-block.style-two .delivery-order-content .contact-info-area .info-email > a > span,
.contact-info-area .info-email > a:hover,
.tb-twitter-feed-widget .twitter-feed .info .date,
.newsletter-block.style-one .subscribe-form .btn-default:hover,
.special-food-block .special-food-content .special-food-content-inner .special-food-content-text .food-price,
.reservation-block.style-three .res-opening-time .icon-divider, 
.reservation-block.style-four .res-opening-time .icon-divider,
.food-grid-item.grid-style-four .food-info .food-title:hover,
.food-grid-item.grid-style-four .food-info .read-more:hover,
.discount-block .discount-content .dis-title,
.discount-block .discount-content .dis-subtitle > strong,
.food-menu-block.style-seven .food-item .food-cart-tools .add-bookmark:hover,
.food-menu-block.style-seven .food-item .food-cart-tools .food-cart:hover {
	color: #C7181A;
}

.site-header.default-header-style .mainmenu li:hover > a, 
.site-header.default-header-style .mainmenu > li > a:hover,
.site-header.default-header-style .mainmenu > li > a.active,
.site-header.default-header-style .mainmenu .sub-menu > li > a:hover, 
.site-header.default-header-style .mainmenu .sub-menu .sub-menu > li > a:hover, 
.site-header.default-header-style .mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover,
.site-header.header-style-one .mainmenu li:hover > a, 
.site-header.header-style-one .mainmenu > li > a:hover,
.site-header.header-style-one .mainmenu > li > a.active,
.site-header.header-style-one .mainmenu .sub-menu > li > a:hover, 
.site-header.header-style-one .mainmenu .sub-menu .sub-menu > li > a:hover, 
.site-header.header-style-one .mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover,
.site-header.header-style-two .mainmenu li:hover > a, 
.site-header.header-style-two .mainmenu > li > a:hover,
.site-header.header-style-two .mainmenu > li > a.active,
.site-header.header-style-two .mainmenu .sub-menu > li > a:hover, 
.site-header.header-style-two .mainmenu .sub-menu .sub-menu > li > a:hover, 
.site-header.header-style-two .mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover,
.site-header.header-style-five .mainmenu li:hover > a, 
.site-header.header-style-five .mainmenu > li > a:hover,
.site-header.header-style-five .mainmenu > li > a.active,
.site-header.header-style-five .mainmenu .sub-menu > li > a:hover, 
.site-header.header-style-five .mainmenu .sub-menu .sub-menu > li > a:hover, 
.site-header.header-style-five .mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover,
.site-header.header-style-eight .mainmenu li:hover > a, 
.site-header.header-style-eight .mainmenu > li > a:hover,
.site-header.header-style-eight .mainmenu > li > a.active,
.site-header.header-style-eight .mainmenu .sub-menu > li > a:hover, 
.site-header.header-style-eight .mainmenu .sub-menu .sub-menu > li > a:hover, 
.site-header.header-style-eight .mainmenu .sub-menu .sub-menu .sub-menu > li > a:hover,
.site-navigation.sidebar-menu .mainmenu li > a:hover, 
.site-navigation.sidebar-menu .mainmenu li > a:focus,
.chef-item .chef-thumbnail-area .social-status-area .social-status > a:hover, 
.chef-item .chef-thumbnail-area .social-status-area .social-status > a:focus,
.widget-business-hours .widget-content > ul li.closed > span,
.intro-element .intro-socail-share .socail-share a:hover,
.bt-about-footer-widget .widget-content .about-info .social-status a:hover,
.bt-about-footer-widget.style-three .widget-content .social-status a:hover,
.section-title.style-five .title-sub,
.site-footer .footer-social li a:hover,
.main-slider.style-five .slide-caption .slider-subtitle,
.intro-element .intro-socail-text > a:hover {
	color: #C7181A !important;
}

.datepicker-container .datepicker-panel > ul > li:hover, 
.datepicker-container .datepicker-panel > ul > li.highlighted {
	color: white !important;
}

.topbutton,
.btn-default,
.btn-default.btn-black:focus, 
.btn-default.btn-black:hover,
.food-list-item.list-style-two .food-cart-tools1 .food-cart::before, 
.food-list-item.list-style-three .food-cart-tools1 .food-cart::before,
.chef-item .chef-thumbnail-area .chef-thumb::before,
.datepicker-container .datepicker-panel > ul > li:hover, 
.datepicker-container .datepicker-panel > ul > li.highlighted,
.select-custom .option:hover,
.header-card-area > a > sup,
.food-grid-item .food-cart-tools .add-bookmark:hover, 
.food-grid-item .food-cart-tools .add-bookmark:focus,
.main-slider .carousel-indicators li.active,
.section-title.style-one .title-main > .divider:before, 
.section-title.style-one .title-main > .divider:after,
.instagram-widget-area .bt-instafeed-widget .instafeed-heading > span,
.site-navigation.sidebar-menu .tse-scrollbar .drag-handle,
.site-header.header-style-four .header-right-area .header-card-area > a,
.site-header.header-style-four .header-right-area .hamburger-menus.click-menu,
.site-header.header-style-eight .header-card-area > a,
.food-menu-block.style-ten .tse-scrollbar .drag-handle,
.tb-twitter-feed-widget .owl-dots > div.active,
.main-slider-style-two .carousel-indicators li.active,
.site-header.header-style-one .header-card-area > a { 
    background-color: #C7181A;
}

.btn-primary {
	background-color: transparent !important;
}

.btn-primary:hover, 
.btn-primary:focus,
.carousel-nav-dots .owl-dots > div.active > span,
.carousel-nav-dots-rec .owl-dots > div.active > span {
	background-color: #C7181A !important;
}


.food-menu-block.style-three .filter-foodmenu-tab-content .tab-pane,
.chef-item .chef-thumbnail-area .social-status-area,
.section-title.style-one .title-main > .divider,
.food-grid-item.grid-style-two .food-thumb:before,
.food-list-item .food-cart-tools .food-cart,
.food-menu-block.style-seven .food-item .food-cart-tools .food-cart,
.tb-subscribe-widget .subscribe-form .form-group input[type="email"]:focus,
.tb-twitter-feed-widget .owl-dots > div,
.discount-block .discount-content .dis-subtitle > span {
	border-color: #C7181A;
}
.reservation-block .form-controllar:focus, 
.reservation-block .form-controllar:active, 
.reservation-block .select-custom:focus, 
.reservation-block .select-custom:active,
.btn-primary:hover, 
.btn-primary:focus,
.btn-primary.btn-white:hover, 
.btn-primary.btn-white:focus,
.newsletter-block .subscribe-form .form-group input:focus {
	border-color: #C7181A !important;
}
.food-menu-block.style-three .filter-foodmenu-tab .nav-tabs > li > a::before {
	border-color: transparent transparent #C7181A;
}

.chef-item:hover .social-status-area {
	border-color: transparent;
}